.contenedor{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

 .boton1{
    width: 150px;
    height: 150px;
    background-color: red;
    border: none;
    cursor: pointer;
}
.boton2{
    width: 150px;
    height: 150px;
    background-color: green;
    border: none;
    cursor: pointer;
}
.boton3{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: none;
    cursor: pointer;
}